.Home_container {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home_Add {
  display: flex;
  margin-top: 120px;
  background: rgb(179, 197, 245);
  padding: 40px 80px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 5px 8px rgb(139, 139, 139);
  position: sticky;

  input {
    background: white;
    color: black;
    border: none;
    padding: 10px;
    border: 1px rgb(137, 105, 105) solid;
  }

  .Home_task-input {
    input {
      height: 40px;
      width: 300px;
      font-size: 16px;
      border-right: none;
    }

    input:focus {
      outline: none;
    }
  }

  .Home_task-post {
    border-radius: 6px;
    input {
      height: 40px;
      width: 80px;
      background: #36d9b6;
      cursor: pointer;
      border-radius: 0 6px 6px 0;
    }
  }
}

.Home_List {
  width: 540px;
  background: transparent;

  .Home_list-tasks {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 0 30px;
    background: white;
    border-bottom: 1px solid black;
  }

  p {
    background: white;
    color: black;
  }

  .Home_list_tasks-title {
    background: white;

    p {
      font-size: 20px;
      text-align: center;
    }
  }

  .Home_list_tasks-button {
    display: flex;
    background: white;

    p {
      margin: 2px 5px;
      padding: 5px 10px;
      cursor: pointer;
      border: 1px solid black;
      border-radius: 2px;
    }

    .Home_list_tasks-edit {
      background: wheat;
    }

    .Home_list_tasks-delete {
      background: wheat;
    }
  }
}
